.layout{
    opacity: 0;
    transition: .5s;
    background-color: rgba(26, 188, 156, 0.9);
}
.layout:hover{
    opacity: 1;
}
.border_bottom{
    border: 0px !important;
}
.model{
    min-width: 900px !important;
}